body{
    padding: o;
    margin: 0;
    background-color: #040E1C;
}
.logo_navbar{
    width: 10%;
}
.video_container{
    margin-top: 0%;
    float: right;
    width: 50%;
    height: 400px;   
}
.video{
    width: 670px;
    height: 670px;

}
.titulos{
    margin-top: 100px;
    margin-left: 40px;
    float: left;
    width: 31%;
}