body{
    padding: o;
    margin: 0;
    background-color: #040E1C;
}
.logo_navbar{
    width: 10%;
}
.video_container{
    margin-top: 0%;
    float: right;
    width: 60%;
    height: 400px;   
}
.video{

}
.titulos{
    margin-top: 100px;
    float: left;
    width: 40%;
}